datasets/flickr
checkpoints/flickr

.DS_Store

checkpoints.zip

# Any zip files
*.zip

# Any log files
*.log

# Any .ipynb_checkpoints folder under any folder
**/.ipynb_checkpoints/
.ipynb_checkpoints/
.ipynb_checkpoints/main-checkpoint.py

# Any __pycache__ folder under any folder
**/__pycache__

# test_cache folder and train_cache folder
test_cache/
train_cache/
**/test_cache/
**/train_cache/